* {
    margin: 0;
   font-family: sans-serif;
 }
 
 /* ===  global === */
 h3 {
   font-size: 1.4em;
   margin: 10px 0;
 }
 
 .section-container {
   width: 100%;
   max-width: 800px;
   margin: 0 auto;
 }
 
 .section-content {
   padding: 40px 20px;
 }
 
 /* ===  1ª seção === */
  .header-p {
   padding: 20px;
   font-size: 1.5em;
   font-weight: bold;
 }
 
 .header-bg-image {
   background-image: url("/assets/img/capa.jpg");
   min-height: 500px;
   background-size: 100%;
   background-repeat: no-repeat;
   border-top: 1px solid #ccc;
 }
 
 .header-text {
   text-align: right;
   padding: 50px 20px;
 }
 

 /* ===  2ª seção === */
 .section-about-image {
   display: flex;
   margin: 10px 0;
 }
 
 .section-about-image img {
   width: calc(100% / 3 - 10px);
   margin: 5px;
 }
 
 .section-one span {
   border-left: 1px solid;
   padding-left: 10px;
   font-size: 20px;
 }
 
 /* ===  3ª e 5ª seção === */
 .section-bg-image-division {
   background-image: url("/assets/img/fundo.jpg");
   padding: 50px 0;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
 }
 
 .section-bg-image-division h3{
 background-color: #fff;
 text-align: center;
 width: 200px;
 margin: 0 auto;
 border-radius: 20px;
 padding: 5px;
 font-size: 2em;
 }
 
 .section-area-atuacao p{
   margin-bottom: 20px;
 }
  
  /* ===  melhorando a parte responsiva da 1ª seção === */
  @media only screen and (max-width: 800px) {
    .header-bg-image {
      min-height: auto;
    }
  
    .header-text {
      text-shadow: 2px .5px 2px #fff;
    }
  }
  
   /* ===  melhorando a parte responsiva da 2ª seção === */
 @media only screen and (max-width: 700px) {
    .section-about-image {
      flex-direction: column;
      align-items: center;
    }
  
    .section-about-image img {
      width: 50%;
    }
  }